*{
    padding: 0;
    margin: 0;
}


@keyframes audio_anim {
    from {
        transform: translateY(-54px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes audio_close_anim {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-54px);
    }
}


#header{
    background-color: rgb(123, 213, 224);
    height: 50px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
#header_title{
    margin-left: 5px;
    font-size: 25px;
}

.dirIconCard{
    height: 150px;
    width: 120px;
}
.dirTitle{
    font-size: 18px;
}

#play_media{
    position: sticky;
    top: 50px;
    z-index: 5;
}
#audio_player{
    width: 100%;
    background-color: coral;
    display: flex;
}

#play_media.audio_start_anim{
    animation: audio_anim;
    animation-duration: 0.5s;
}
#play_media.audio_close_anim{
    animation: audio_close_anim;
    animation-duration: 0.5s;
}

@media screen and (max-width: 500px) {
    .dirIconCard{
        height: 90px;
        width: 75px;
    }
    .dirTitle{
        font-size: 12px;
    }
}

.video_running_title{
    height: 50px;
}

.video_card{
    display: flex;
    border: 1px solid blue;
    padding: 10px;
    height: 60px;
}
.video_card_title{
    border: 1px solid red;
    width: 100%;
    word-wrap: break-word;
}